.dashboard-wrapper{
   /* background-color: rgb(246, 248, 251); */
}
.sidebar{
    background-color: rgb(45, 45, 45);
    height: 100%;
    width: 250px;
    position: fixed;
}
.dashboard-children{
    margin-left: 250px;
    display: flex;
    justify-content: center;
    width: calc(100% -250px);
}
.dashboard-children-cont{
    width: 95%;
}
.inp-btn{
    margin-top: 20px;
}