.form-layout{
    background-image: url('../../public/component-images/Agricme-logo-bg.png');
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
}
.form-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}

/* .side-display {
    background-image: url('../../public/component-images/Agricme-logo-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 30vw;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 50px 50px;
} */

.side-display h1, .side-display p{
    text-align: start;
    width: 70%;
    color: var(--logo-black);
}

.side-display h1 {
    font-size: 50px;
    font-weight: 800;
}

.side-display p {
    font-weight: 600;
}

.form-container {
    width: 50vw;
    backdrop-filter: blur(9px) saturate(200%);
    -webkit-backdrop-filter: blur(9px) saturate(200%);
    background-color: rgba(27, 62, 50, 0.42);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 35px;
    height: fit-content !important;
}

.form-container .logo{
    width: 100%;
    display: none;
    justify-content: center;
}

.form-container .form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container .form .label{
    display: grid;
    gap: 7px;
}

.form-container .oauth{
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
    justify-content: center;
    padding-block: 20px 20px;
}

.form-container .oauth .auth{
    padding: 5px;
    border: 1.5px solid var(--logo-green);
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    color: white;
    font-weight: 600;
}

.form-container .oauth .auth span{
    font-size: larger;
    color: blue;
}

.form-container .label{
    font-size: small;
    font-weight: 600;
    color: rgb(164, 164, 164);
}

.form-container .form .remember{
    display: flex;
    align-items: center;
    padding-block: 0px !important;
    height: fit-content;
    color: white;
    gap: 8px;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    padding-left: 30px;
    user-select: none;
}

/* Hide the default checkbox */
.remember input[type="checkbox"] {
    display: none;
}

/* Custom checkbox style */
.remember .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border-radius: 3px;
}

/* When the checkbox is checked, add a blue background */
.remember input[type="checkbox"]:checked ~ .checkmark {
    background-color: var(--logo-lightgreen);
}

/* Add the checkmark/indicator (hidden when not checked) */
.remember .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.remember input[type="checkbox"]:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.remember .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.form-container .form .label input{
    border: 1.5px solid var(--logo-green);
    border-radius: 10px;
    height: 50px;
    padding-inline-start: 10px;
    font-size: 20px;
    outline-color: var(--logo-black);
}

.form-container .form .remember input{
    height: fit-content !important;
}

.form-container .label a{
    color: var(--logo-green);
    font-weight: bolder;
    font-size: larger;
}

.form-container .account{
    margin-top: 20px;
    color: white;
}

.form-container .form .submit{
    height: 50px;
    border-radius: 10px;
    background-color: var(--logo-lightgreen);
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.form-container .form .submit:hover{
    background-color: var(--logo-green);
    transition: all ease-in-out .5s;
}

.form-container .form .submit:active{
    background-color: white;
    border: 1.5px solid var(--logo-green);
    color: var(--logo-green);
}

@media (max-width: 960px) {
    .side-display{
        display: none;
    }
    .form-container .logo{
        display: flex;
    }
    .form-container{
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 90vh;
    }
    .form-container .label {
        color: rgb(80, 80, 80);
    }
}